html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
    background-color: #0D6EFD !important;
    border-color: #0D6EFD !important;
    color: #fff !important;
}

    .btn:hover,
    .btn:focus {
        background-color: #0B5ED7 !important; /* tono ligeramente más oscuro para hover */
        border-color: #0A58CA !important;
        color: #fff !important;
    }

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    }

.badge {
    font-size: 0.8rem;
    padding: 0.4em 0.6em;
}

.text-decoration-line-through {
    opacity: 0.7;
}

.carousel-caption {
    text-align: left;
}